#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  width: 100%;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-1-5 {
  width: calc(100% / 5);
}

.col-1-6 {
  width: calc(100% / 6);
}

.btn {
  background-color: #303030;
  border: 3px solid #0082f0;
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
  font-size: 1.1rem;
}
