.alert {
  border: 5px solid;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
  font-size: 1.5rem;
  border-color: #dc3545;
  color: #dc3545;
  background-color: #f5d5d8;
}

.alert.alert-info {
  border-color: #0082f0;
  color: #0082f0;
  background-color: #cbe3f8;
}

.alert.alert-success {
  border-color: #1a8754;
  color: #1a8754;
  background-color: #d8f6e8;
}

.alert.alert-danger {
  border-color: #dc3545;
  color: #dc3545;
  background-color: #f5d5d8;
}

.alert.alert-warning {
  border-color: #ffc008;
  color: #ffc008;
  background-color: #fcf7e7;
}
