#header {
  background-color: #fff;
}

#header .header-content {
  display: flex;
  justify-content: space-between;
}

#header .logo {
  padding: 20px 0;
}

#header nav {
  display: flex;
  align-items: center;
}

#header nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

#header nav ul .border {
  height: 3px;
  background: #fff;
}

#header nav ul li:hover {
  color: #0082f0;
  coursor: pointer;
}

#header nav ul li:hover .border {
  background: #0082f0;
}
