#main {
  color: #fff;
  flex-grow: 1;
  background-color: #000;
}

#main .jumbotron {
  background-image: url("../../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 150px 0;
}
